.articles {

    &__header {
        @include font-size(xxl);
        @include heading-text();
        margin: 0 0 1rem;
    }


    &__author {
        border: solid 1px $color--grey;
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0;

        @include media-query(tablet-portrait) {
            padding: 20px;
        }

        img {
            border-radius: 50%;
            display: block;
            margin: auto;
        }
    }

    &__categories {
        padding: 50px 0;

        a {
            @include font-size(xxs);
        }
    }

    &__featured-image {
        padding: 0;
        text-align: center;
    }

    &__featured-image-caption,
    &__image-caption {
        @include font-size(xxs);
        padding-bottom: 40px;
    }

    &__featured-image-caption {
        text-align: center;
        padding: 0;
    }

    &__filter-label {
        padding-right: 20px;
    }

    &__intro {
        @include font-size(m);
        line-height: 40px;
        font-weight: $weight--light;
        color: $color--secondary;
        padding: 10px 0;
    }

    &__news-item {
        padding-bottom: 40px;

        img {
            padding-top: 15px;
        }
    }

    &__publish-info {
        @include font-size(ss);

        .publish-date {
            padding-right: 5px;
        }

        a {
            font-weight: $weight--bold;
            padding: 0 5px;
        }
    }

    &__no-results {
        min-width: 790px;
        padding-top: 10px;
    }
}
