.grid-author {
    display: grid;
    grid-gap: 30px;

    // https://css-tricks.com/introduction-fr-css-unit/
    grid-template-columns: 0.3fr 0.7fr;

    &__item {
        padding: 5px;
        @include media-query(tablet-portrait) {
        	min-height: 140px;
        }
    }
}

