.grid-article-listing {
    display: grid;
    grid-gap: 30px;

    // https://css-tricks.com/introduction-fr-css-unit/
    grid-template-columns: 0.3fr 0.7fr;

    &__item {
        min-height: 200px;
        padding: 5px;
    }
}

