.homepage {

    &__wrapper {
        padding: 0px 0px 100px !important;
    }

    &__hero-container {
      position: relative;
    }

    &__hero-image-container {
      position: relative;
    }

    &__hero-text-block {
      color: $color--white;
      background-color: $color--secondary;
      padding: 5px 20px;

      @include media-query(tablet-landscape) {
        position: absolute;
        bottom: 40px;
        left: 100px;
        width: 600px;
        height: 250px;
      }

      h2 {
          color: $color--white;
      }
    }

    &__hero-button {
        @include media-query(tablet-landscape) {
            position: absolute;
            top: 175px;
            left: 40px;
        }
    }

}