.section {
    &--main {
        max-width: $wrapper--small;

        &:only-child {
            margin: 0 auto;
        }
    }

    &--featured-image {
        padding: 10px 0 0;
        .image-caption {
            @include font-size(xs);
        }
    }

    &--image-caption {
        @include font-size(xxs);
        line-height: 16px;
        padding: 0 50px;
    }

    &--intro {
        @include font-size(m);
        line-height: 40px;
        font-weight: $weight--light;
        color: $color--secondary;
        padding: 10px 0;
    }

    &--publish-info {
        @include font-size(xxs);

        .publish-date {
            padding-right: 5px;
        }

        a {
            font-weight: $weight--bold;
            padding: 0 5px;
        }
    }

}
