Django==2.0.9
wagtail==2.2.2
psycopg2==2.7.5
wagtail-django-recaptcha==1.0
https://people.torchbox.com/~mikalai/pypi/django-pattern-library/django_pattern_library-0.1.11-py3-none-any.whl

# Production dependencies
whitenoise[brotli]==4.1
dj-database-url==0.5.0
raven==6.9.0
django-redis==4.9.0
redis==2.10.6
django-storages[boto3]==1.7.1
django-referrer-policy==1.0
scout-apm==1.3.8
django-basic-auth-ip-whitelist==0.2.1
