{% load wagtailcore_tags wagtailimages_tags %}

{% comment %}

This template can be used in different places. In streamfield block
or directly in a page template. To use this template pass `linklist` into context.

Example:
    {% include "patterns/molecules/lists/list_group-links.html" with linklist=latest_news %}

{% endcomment %}

{% if linklist %}
	<div class="list-group list-group-flush bg-transparent">
		{% for newsitem in linklist %}
			<a href="{% pageurl newsitem %}" class="list-group-item list-group-item-action">
				{{ newsitem.title }}
			</a>
		{% endfor %}
	</div>
{% endif %}




