{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% block breadcrumbs %}
        {% include "patterns/molecules/navigation/breadcrumbs.html" with navclass="container" %}
    {% endblock %}

    <header class="container">


            <h1 class="pt-5">{{ page.title }}</h1>

            {% if page.introduction %}
                <p class="lead py-2">
                    {{ page.introduction }}
                </p>
            {% endif %}

            {% if page.featured_image %}
                {% include "patterns/molecules/media/image.html" with media=page.featured_image caption=page.featured_image_caption %}
            {% endif %}
        
        </header>

        <section class="main-content container py-3">
                <div class="row">
                    <div class="col-lg-9">
                            {% include_block page.body %}
    
                            {% comment %}
                            {% include "patterns/molecules/share/share.html" %}
                            {% endcomment %}
                    </div>
                </div>
            </section>
    
            <footer class="container">
                <div class="row">
                    <div class="meta py-2 small col-lg-9">
                        <p>
                        {% if page.display_date %}
                            <span class="publish-date">
                                Publisert 
                                {{ page.display_date|date:"d.m.Y" }}
                                {% if page.categories %}
                                i
                                {% for category in page.categories.all %}
                                    <a href="{% pageurl page.get_parent %}?category={{ category.category.pk }}">
                                        {{ category.category }}
                                    </a>
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                                .
                            {% endif %}
                            </span>
                        {% endif %}
                        {% if page.license %}
                        <span class="license">
                            Lisens for teksten er 
                            {% include "patterns/atoms/license/license.html" with license=page.license %}.
                            Lisensen gjelder kun teksten. Bilder, illustrasjon og andre elementer er lisensiert selvstendig.
                        </span>
                        {% endif %}
                        </p>
    
                        {% if page.tags.all.count %}
                            <p class="tags py-1">
                                {% for tag in page.tags.all %}
                                <span class="badge badge-secondary p-0_5 rounded">{{ tag }}</span>
                                {% endfor %}
                            </p>
                        {% endif %}
    
                        {% comment %}
                            {% include "patterns/molecules/relatedcontent/relatedcontent.html" with related_documents=page.related_documents.all related_pages=page.related_pages.all %}
                        {% endcomment %}
    
                        {% for author in page.authors.all %}
                            {% include "patterns/molecules/author/author.html" with author=author.author biography=author.biography %}
                        {% endfor %}
                        
                        </div>
        
                    </div>
                </div>
            </footer>
        </article>
    
    {% endblock %}