.responsive-object {
    position: relative;
    margin-bottom: 30px;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
