


// Extra width classes
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -75vw;
    margin-right: -75vw;
  }
.extra-wide {
  @include media-breakpoint-up(lg) {
    width: calc( 100% + 368px);
    margin-left: -184px;
  }
}

// Remove left padding on first navigation link in footer
.footer .nav .nav-item:first-child .nav-link {
    padding-left: 0;
}