
{% if paginator_page.paginator.num_pages > 1 %}
<nav role="navigation" aria-label="Pagination">
    <ul class="nav nav--pagination">

        {% for page in paginator_page.paginator.page_range %}
            {% if page == paginator_page.number %}
                <li class="pg active">
                    {{ page }}
                </li>
            {% else %}
                <a class="page_number" href="?page={{ page }}{% if search_query %}&amp;query={{ search_query|urlencode }}{% endif %}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}">
                    <li class="pg">
                        {{ page }}
                    </li>
                </a>
            {% endif %}
        {% endfor %}

    </ul>
</nav>{% endif %}
