{% load wagtailcore_tags wagtailimages_tags static %}

<div class="col-sm-4">
  <a href="{% pageurl page %}" class="article-card-link">
      <div class="card border-0 bg-transparent">
          {% if page.listing_image %}
            {% image page.listing_image fill-370x270 as img %}
            <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid" />
          {% elif page.featured_image %}
            {% image page.featured_image fill-370x270 as img %}
            <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid" />
          {% endif %}

          <div class="card-body pl-0">
            <h3 class="card-link">{% firstof page.listing_title page.title %}</h3>
          </div>
      </div>
  </a>
</div>