{% load wagtailcore_tags wagtailimages_tags %}

<div class="articles__author row">
    <div class="col-4">
        {% image author.photo fill-140x140 %}
    </div>
    <div class="col-8">
        <h2>
            <a href="{% pageurl author %}">
                {{ author.first_name }} {{ author.last_name }}
            </a>
        </h2>
        <div class="author-bio">
            {% if biography %}
                {{ biography }}
            {% else %}
                {{ author.biography|striptags|truncatechars:255 }}
            {% endif %}
        </div>
    </div>
</div>