{% load wagtailcore_tags wagtailimages_tags %}

{% comment %}

This template can be used in different places. In streamfield block
or directly in a page template. To use this template pass `license` into context.

Example:
    {% include "patterns/atoms/license/credit.html" with title="Title" author="Line Danser" image_source_url="#" license=license %}

{% endcomment %}

<em>Foto: 
{% if title %}
	{% if image_source_url %}
		<a class="imagetitle" href="{{ image_source_url }}">{{ title }}</a>
	{% else %}
		<span class="imagetitle">{{ title }}</span>
	{% endif %}
{% endif %}
{% if author %}
	<span class="imageauthor">&vert; {{ author }}.</span>
{% endif %}

{% if license %}
	{% include "patterns/atoms/license/license.html" with license=license %}
{% endif %}

</em>