
// Extra width classes
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -75vw;
  margin-right: -75vw;
}

.navbar-brand {
  font-size: 20px;
  font-family: "PlayfairDisplay-Bold", "Playfair Display";
  color: #1c166c;
}

.extra-wide {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  @include media-breakpoint-up(lg) {
    width: calc( 100% + 200px);
    margin-left: -100px;
  }
}

// Remove left padding on first navigation link in footer
.footer .nav .nav-item:first-child .nav-link {
    padding-left: 0;
}

h1 a, h2 a, h3 a, a.nav-link, .breadcrumb-item a, .article-card-link, .page-link, a.btn, a.navbar-brand {
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: darken($primary, 8%);
  font-weight: 300;
}

blockquote {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-content h2 {
  padding-top: 2rem;
}

p.lead {
  color: darken($primary, 8%);
}

#main { min-height: 85vh; }

.news-item .rich-text {
  font-weight: 300;
}

.svg-icon svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.card-icon svg {
  height: 2em;
  width: 2em;
  fill: currentColor;
}