{% load wagtailcore_tags wagtailimages_tags static %}

{% comment %}

This template can be used in different places. In streamfield block
or directly in a page template. To use this template pass `call_to_action` into context.

Example (use default image for page):
	{% include "patterns/molecules/card/card.html" with page=page %}

Example (use specified image):
    {% include "patterns/molecules/card/card.html" with page=page image=img text=text %}

{% endcomment %}

{% if page %}
	<div class="card bg-white border-0">
		{% if image %}
			{% image image fill-854x480 as img %}
				<img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
		{% elif page.listing_image %}
			{% image page.listing_image fill-854x480 as img %}
				<img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
		{% elif page.featured_image %}
			{% image page.featured_image fill-854x480 as img %}
				<img src="{{ img.url }}" alt="{{ img.alt }}" class="card-img-top" />
		{% endif %}
		<div class="card-body">
			<h3 class="card-title"><a href="{% pageurl page %}" class="stretched-link">{% firstof title page.listing_title page.title %}</a></h3>
			<p class="card-text">{% firstof text page.listing_summary page.introduction %}</p>
			
		</div>
	</div>
{% endif %}