{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}   

{% block content %}

<header class="container py-3">
    <h1 class="display-2">{{ page.title }}</h1>
    {% if page.introduction %}
        <p class="lead">{{page.introduction}}</p>
    {% endif %}
</header>
<section class="container pb-3">
    {% include_block page.body %}
</section>

<section class="container event-listing">
    {% if events %}
        {% if events.object_list.exists %}
            <ul class="list-group list-group-flush">
                {% for event in events.object_list.specific %}
                    <li class="list-group-item p-2">
                        <div>
                            <h2>
                                <a href="{% pageurl event %}" class="stretched-link">
                                    {% firstof event.listing_title event.title %}
                                </a>
                            </h2>
                            <p>{% firstof event.listing_summary event.summary %}</p>
                            <p class="text-muted mb-0">{% include "patterns/molecules/events/datetime-summary.html" %}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            {# no items on this page #}
        {% endif %}

        <section class="toggle-past py-3">
            {% if show_past %}
                <a href="{% pageurl page %}" class="btn btn-outline-primary">Vis kommende arrangementer</a>
            {% else %}
                <a href="{% pageurl page %}?past=True" class="btn btn-outline-primary">Vis tidligere arrangementer</a>
            {% endif %}
        </section>

        {% include "patterns/molecules/pagination/pagination.html" with paginator_page=events %}

    {% else %}
        {# no items on any page #}
    {% endif %}



</section>

</div>

{% endblock %}
