{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}


{% block content %}
    {% block breadcrumbs %}
        {% include "patterns/molecules/navigation/breadcrumbs.html" with navclass="container" %}
    {% endblock %}

    <section class="container">
        <h1>{{ page.title }}</h1>
        {% if page.summary %}
            <p class="lead">{{ page.summary }}</p>
        {% endif %}

        <h2 class="pt-3"><span class="badge badge-info">N&aring;r</span></h2>
        <p>
            {% include "patterns/molecules/events/datetime-summary.html" with event=page %}
        </p>

        {% if page.location_name %}
            <h2><span class="badge badge-info">Hvor?</span></h2>
            <p>
                {{ page.location }}
            </p>
        {% endif %}
        
        <div class="story-blocks pt-5">
            {% include_block page.body %}
        </div>

    </section>
    <section class="container section-links py-3">
        {% if page.information_url %}
            <a href="{{ page.information_url }}" class="btn btn-outline-primary">Mer informasjon</a>
        {% endif %}
        {% if page.tickets_url %}
            <a href="{{ page.tickets_url }}" class="btn btn-outline-primary">Meld deg p&aring;</a>
        {% endif %}
        {% if page.program_url %}
            <a href="{{ page.program_url }}" class="btn btn-outline-primary">Program</a>
        {% endif %}
        {% if page.streaming_url %}
            <a href="{{ page.streaming_url }}" class="btn btn-outline-primary">Direktestr&oslash;mming</a>
        {% endif %}
    </section>
{% endblock %}
