{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags %}

{% block content %}

<div class="container authors pt-5">

    <h1>{{ page.title }}</h1>
    <p class="lead">{{ page.introduction }}</p>

    <section class="authors-list">
        {% if people %}
            {% for person in people %}
                <article class="person pt-2">
                    <h3><a href="{% pageurl person %}">{{ person.first_name }} {{ person.last_name }}</a></h3>

                    {% if person.listing_summary or person.introduction %}
                        <p>{% firstof person.listing_summary person.introduction %}</p>
                    {% endif %}
                </article>
            {% endfor %}

            {% include "patterns/molecules/pagination/pagination.html" with paginator_page=people %}
        {% else %}
            {# no results #}
        {% endif %}
    </section>
</div>

{% endblock %}
