{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <section class="section news container">

        <h1 class="display-2 pt-5">{{ page.title }}</h1>

        {% if page.introduction %}
            <p class="lead">
                {{ page.introduction }}
            </p>
        {% endif %}

        <form method="GET">
            <div class="form-group row py-2">
                <label for="category" class="col-sm-2 col-form-label">Vis kategori</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-lg" name="category" onchange="this.form.submit()">
                        <option value="">Alt sammen</option>
                        {% for category in categories %}
                            <option value="{{ category.0 }}" {% if request.GET.category == category.0|slugify %}selected="selected"{% endif %}>{{ category.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

                
        {% if news %}
            <ul class="article-items list-unstyled py-2">
            {% for n in news %}
                <li class="media position-relative py-3">
                    {% if n.featured_image %}
                        {% if n.featured_image %}
                            {% image n.featured_image fill-277x156 class="rounded mr-2" %}
                        {% endif %}
                    {% endif %}
                    <div class="media-body">
                        <h2>
                            <a href="{% pageurl n %}" class="stretched-link">
                                {{ n.title }}
                            </a>
                        </h2>
                        {{ n.body | richtext }}
                        </div>
                    </div>
                </li>
            </div>
                {% endfor %}
            </ul>
            
            {% include "patterns/molecules/pagination/pagination.html" with paginator_page=news %}
            
        {% else %}

            {# no items #}

        {% endif %}
    </section>

{% endblock %}
