// --------------------------------- Bootstrap variables -------------------------------------
$font-family-serif:      'Playfair Display', serif;
$font-family-sans-serif: 'Roboto', sans-serif;

$font-family-base:       $font-family-sans-serif;
$headings-font-family:   $font-family-serif;

// Color system

$white:    #fff;
$gray-100: #f9f6f4;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #191716;
$black:    #111;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #207384;
$indigo:  #3f108a;
$purple:  #6f42c1;
$pink:    #c4578a;
$red:     #c53317;
$orange:  #ff5737;
$yellow:  #d8a818;
$green:   #28a745;
$teal:    #255c4b;
$cyan:    #addee3;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900;
$yiq-text-light:            $white;


// Body
//
// Settings for the `<body>` element.
$body-bg:                   $light;
$body-color:                $black ;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                                true;
$enable-rounded:                              false;
$enable-shadows:                              true;
$enable-gradients:                            true;
$enable-transitions:                          false;
$enable-prefers-reduced-motion-media-query:   true;
$enable-grid-classes:                         true;
$enable-pointer-cursor-for-buttons:           true;
$enable-print-styles:                         true;
$enable-responsive-font-sizes:                true;
$enable-validation-icons:                     true;
$enable-deprecation-messages:                 false;


// Breadcrumb separator
$breadcrumb-divider: quote("\2014");

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem ;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    0_25: ($spacer * .25),
    0_5: ($spacer * .5),
    1: $spacer,
    1_5: ($spacer * 1.5),
    2: ($spacer * 2),
    3: ($spacer * 3),
    5: ($spacer * 5),
    10: ($spacer * 10),
    15: ($spacer * 15),
    20: ($spacer * 20)
  ),
  $spacers
);

// Links
//
// Style anchor elements.

$link-color:                              $primary;
$link-decoration:                         underline;
$link-hover-color:                        darken($primary, 15%);
$link-hover-decoration:                   underline;
$emphasized-link-hover-darken-percentage: 15% !default;

// Navbar links
$navbar-light-color:                 darken($primary, 15%);;
$navbar-light-hover-color:           darken($primary, 30%);;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:              1.125rem;
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .875;

$lead-font-size:              $font-size-base * 1.5;
$lead-font-weight:            300;

$font-weight-base:            300;
$line-height-base:            1.7;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 1.7;
$h3-font-size:                $font-size-base * 1.3;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;

$figure-caption-font-size:          90%;
$figure-caption-color:              $gray-800;

// List groups

$list-group-hover-bg:               $info;
$list-group-action-hover-color:     $black;