{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <section class="section articles">

        <h1 class="articles__header pt-5">{{ page.title }}</h1>

        {% if page.introduction %}
            <p class="lead">
                {{ page.introduction }}
            </p>
        {% endif %}

            <div>
                    <div class="d-inline">
                        Vis bare:
                    </div>
                    <div class="d-inline">
                        <form method="GET">
                            <select name="category" onchange="this.form.submit()">
                                <option value="">Alt sammen</option>
                                {% for category in categories %}
                                    <option value="{{ category.0 }}" {% if request.GET.category == category.0|slugify %}selected="selected"{% endif %}>{{ category.1 }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
            </div>

        {% if news %}
                {% for n in news %}
                    <div class="article-items row py-2">
                        <div class="col-4">
                            <a href="{% pageurl n %}">
                            {% if n.listing_image %}
                                {% image n.listing_image fill-277x156 %}
                            {% elif n.featured_image %}
                                {% image n.featured_image fill-277x156 %}
                            {% endif %}
                            </a>
                        </div>
                        <div class="col-8">
                            <h2 role="listitem">
                                <a href="{% pageurl n %}">
                                    {% firstof n.listing_title n.title %}
                                </a>
                            </h2>
                            {% if n.listing_summary or n.introduction %}
                                <p>{{ n.listing_summary|default:n.introduction }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            {% include "patterns/molecules/pagination/pagination.html" with paginator_page=news %}

        {% else %}

            {# no items #}

        {% endif %}
    </section>

{% endblock %}
