{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{# override the wrapper size for an extra large featured image on the homepage #}
{% block header-wrapper %}
    <main class="wrapper wrapper--extra-large wrapper--main homepage__wrapper">
{% endblock %}

{% block content %}

    <div class="wrapper homepage">

        <div class="wrapper wrapper--extra-large">
            <div class="homepage__hero-image-container">
                {% if page.featured_image %}
                    {% image page.featured_image fill-1400x555 %}
                {% endif %}
                <div class="homepage__hero-text-block">
                    <h2>{{ page.title }}</h2>

                    <p>{{ page.introduction }}</p>

                    <a class="homepage__hero-button btn btn-primary" href="{% pageurl page.button_link %}" role="button">
                        {{ page.button_text }}
                    </a>
                </div>
            </div>
        </div>

        <div class="wrapper wrapper--large">

        </div>

        {% comment %}
        {% include "patterns/molecules/share/share.html" %}
        {% endcomment %}
    </div>

{% endblock %}
