{% extends "patterns/base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags %}

{% block meta_tags %}
    {% if GOOGLE_TAG_MANAGER_ID %}
        {# To enable GTM code you need to specify GOOGLE_TAG_MANAGER_ID in Django settings #}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER_ID }}');</script>
    {% endif %}

    {# favicons #}
    {% comment %}
        Generate favicons by http://realfavicongenerator.net using the following path: settings.STATIC_URL + img/favicons.
        Then favicon.ico should be copied to a directory called "public" in the application root and puppet does some magic to serve it up at the site root.
    {% endcomment %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% comment %}
        Twitter summary card - see https://dev.twitter.com/cards/types/summary
        and https://dev.twitter.com/cards/getting-started
    {% endcomment %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ settings.utils.SocialMediaSettings.twitter_handle }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page|social_text:request.site }}">
    {% if page.social_image %}
        {% image page.social_image width-1280 as social_img %}
        <meta name="twitter:image" content="{{ social_img.url }}">
    {% elif page.featured_image %}
        {% image page.featured_image width-1280 as social_img %}
        <meta name="twitter:image" content="{{ social_img.url }}">
    {% endif %}

    {# facebook opengraph tags #}
    <meta property="fb:app_id" content="{{ settings.utils.SocialMediaSettings.facebook_app_id }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    {% if page.social_image %}
        {% image page.social_image width-1280 as social_img %}
        <meta name="og:image" content="{{ social_img.url }}">
    {% elif page.featured_image %}
        {% image page.featured_image width-1280 as social_img %}
        <meta name="og:image" content="{{ social_img.url }}">
    {% endif %}
    <meta property="og:description" content="{{ page|social_text:request.site }}" />
    <meta property="og:site_name" content="{{ settings.utils.SocialMediaSettings.site_name }}" />
{% endblock meta_tags %}


{% block body_top %}
    {% if GOOGLE_TAG_MANAGER_ID %}
        {# To enable GTM code you need to specify GOOGLE_TAG_MANAGER_ID in Django settings #}
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_MANAGER_ID }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}
{% endblock body_top %}


{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white pt-1 pb-1" aria-label="Primary">
            <div class="container">
                <a class="navbar-brand" href="{% slugurl 'home' %}">
                    helsenorgelab.no
                </a>
                <div class="collapse navbar-collapse" id="navbarContent">
                    {% primarynav %}
                </div>
                <button class="navbar-toggler text-primary border-0 ml-auto svg-icon" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
                    <svg>
                        <use xlink:href="#menu"></use>
                    </svg>
                    <span class="sr-only">Meny</span>
                </button>
                <button class="navbar-toggler text-primary border-0 d-block svg-icon" type="button" data-toggle="collapse" data-target="#headerSearch" aria-controls="headerSearch" aria-expanded="false" onclick="selectSearchBox()">
                    <svg>
                        <use xlink:href="#search"></use>
                    </svg>
                    <span class="sr-only">S&oslash;k</span>
                </button>
            </div>
        </nav>
        <div class="collapse navbar-collapse bg-dark" id="headerSearch">
            <div class="container py-1">
                <form action="{% url 'search' %}" method="get" role="search" class="form-inline">
                    <span class="sr-only">S&oslash;k p&aring; helsenorgelab.no</span>
                    <input class="input form-control mr-0_25 rounded-pill" id="navbarSearch" type="text" placeholder="S&oslash;keord" name="query" {% if search_query %} value="{{ search_query }}"{% endif %}>
                    <button class="btn btn-outline-light px-1 my-2 my-sm-0 rounded-pill" type="submit">
                                S&oslash;k
                    </button>

                </form>
            </div>
        </div>
    </header>
{% endblock header %}

{% block footer %}
    <footer class="footer bg-white mt-5 pt-2 pb-1">
        <div class="container">
            {% footerlinks %}
            {% footerbottomtext %}
        </div>
    </footer>
{% endblock footer %}
