{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

        {% if page.featured_image %}

            <div class="container hero">
                <div class="hero-image-container">

                    {% if page.featured_image %}
                        {% image page.featured_image fill-1400x555 as img %}
                        <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid" />
                    {% endif %}

                    <div class="hero-text-block">
                        <h1>{{ page.hero_title }}</h1>

                        <p>{{ page.hero_introduction }}</p>

                        {% if page.hero_button_link and page.hero_button_text %}
                            <a class="btn hero-button" href="{% pageurl page.hero_button_link %}" role="button">
                                {{ page.hero_button_text }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endif %}

        <section id="articles" class="container">

            {% if article_top %}

                <h2 class="display-3 pt-5 pb-3 text-primary">Siste artikler</h2>

                <div class="row py-1">
                    <div class="col-sm-8">
                        <a href="{% pageurl article_top %}">
                            {% if article_top.listing_image %}
                                {% image article_top.listing_image fill-775x430 as img %}
                                <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid" />
                            {% elif article_top.featured_image %}
                                {% image article_top.featured_image fill-775x430 as img %}
                                <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-fluid" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <h2>
                            <a href="{% pageurl article_top %}">
                                {% firstof article_top.listing_title article_top.title %}
                            </a>
                        </h2>
                        <p>{% firstof article_top.listing_summary article_top.introduction %}</p>
                    </div>
                </div>


                <div class="row py-2">
                    {% for article in articles_row_1 %}
                        {% include "patterns/molecules/homepage/homepage-article-card.html" with page=article %}
                    {% endfor %}
                </div>

                <div class="row py-2">
                    {% for article in articles_row_2 %}
                        {% include "patterns/molecules/homepage/homepage-article-card.html" with page=article %}
                    {% endfor %}
                </div>

            {% endif %}

            {% if featured_row_1 %}

                <h2 class="display-3 text-primary pt-5">Kanskje du vil lese mer om?</h2>

                <div class="row">
                    {% for article in featured_row_1 %}
                        {% include "patterns/molecules/homepage/homepage-article-card.html" with page=article.featured_page %}
                    {% endfor %}
                </div>

                <div class="row">
                    {% for article in featured_row_2 %}
                        {% include "patterns/molecules/homepage/homepage-article-card.html" with page=article.featured_page %}
                    {% endfor %}
                </div>


            {% endif %}

            </section>


            {% if latest_news_1 %}
            <section id="news" class="container">
                <h2 class="display-3 text-primary pt-5 pb-1">Notert</h2>

                <div class="row d-flex">
                    <div class="col-md-4">
                        {% include "patterns/molecules/lists/list_group-links.html" with linklist=latest_news_1 %}
                    </div>
                    <div class="col-md-4 h-100">
                        {% include "patterns/molecules/lists/list_group-links.html" with linklist=latest_news_2 %}
                    </div>
                    <div class="col-md-4">
                        {% include "patterns/molecules/lists/list_group-links.html" with linklist=latest_news_3 %}
                    </div>
                </div> 
            </section>
            {% endif %}


{% endblock %}
