{% extends "patterns/base_page.html" %}
{% load static wagtailcore_tags wagtailsearchpromotions_tags %}

{% block content %}
    <div class="container">
            <h1 class="pt-5">
                {% block title %}
                    {% if search_query %}
                        S&oslash;keresultater for &ldquo;{{ search_query }}&rdquo;
                    {% else %}
                        S&oslash;k
                    {% endif %}
                {% endblock %}
            </h1>
            <p class="lead">
                {% if search_query %}
                    {% with count=search_results.paginator.count %}
                        {{ count }} sider funnet.
                    </p>
                {% endwith %}
                {% else %}
                    S&oslash;k etter hva som helst.
                {% endif %}
            </p>


            {% get_search_promotions search_query as search_picks %}

            {% if search_picks %}
                 <p class="articles__intro">
                    Fremhevede resultater
                 </p>

                 <ul id="search-results-featured">
                    {% for pick in search_picks %}
                        {% include "patterns/molecules/search-result/search-result.html" with result=pick.page.specific %}
                     {% endfor %}
                 </ul>

            {% endif %}

            {% if search_results %}

                <ul class="py-2 search-results-list p-0">
                    {% for result in search_results %}
                        {% include "patterns/molecules/search-result/search-result.html" with result=result.specific %}
                    {% endfor %}
                </ul>

                {% include "patterns/molecules/pagination/pagination.html" with paginator_page=search_results %}

            {% elif search_query and not search_picks %}
                <div class="no-results py-3">
                    <p class="lead">Beklager!</p>
                    Fant ingenting
                </div>
            {% endif %}

            <form action="{% url 'search' %}" method="get" role="search" class="form-inline">
                <div class="form-row">
                    <span class="sr-only">S&oslash;k p&aring; helsenorgelab.no</span>
                    <input class="input form-control mr-0_25 rounded-pill" type="text" placeholder="S&oslash;k…" name="query" {% if search_query %} value="{{ search_query }}"{% endif %}>
                    <button class="btn btn-outline-dark px-1 my-2 my-sm-0 rounded-pill" type="submit">
                        S&oslash;k
                    </button>
                </div>
            </form>

    </div>

{% endblock %}
